@{
    ViewData[ViewKey.Title] = "Internal Server Error";
}
<div class="row">
    <div class="col-lg-8 offset-lg-2 col-10 offset-1 text-center">
        <h1 class="big"><span class="status-code">500</span><br /><i class="bi bi-emoji-frown"></i></h1>
        <h2>Whoops!</h2>
        <p>Well this is little embarrassing, but it seems something didn't go quite as planned and an error has occurred on the server. 
            Have no fear though, we have put our best and brightest intern on the task of figuring it out!</p>
        <p>In the mean time, maybe you'll want to follow one of these links back to safety:</p>
        <ul class="no-bullets">
            <li><a href="/" class="error-link">Home Page</a></li>
            <li><a href="/Portfolio" class="error-link">Portfolio</a></li>
            <li><a href="/Posts" class="error-link">Posts</a></li>
        </ul>
    </div>
</div>