<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData[ViewKey.Title] - <site-name /></title>
        <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    </head>
    <body class="bg-dark text-light">
        <header>
            <partial name="Navigation"/>
        </header>
        <div class="container">
            <main role="main" class="pb-3 pt-3 main-content">
                @RenderBody()
            </main>
        </div>
        <footer class="footer text-muted pt-3 mt-5 pb-5">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 text-center text-md-start">
                        <copyright />
                    </div>
                    <div class="col-md-6 pt-3 pt-md-0 text-center text-md-end">
                        <p>
                            <span class="fs-5 built-with">Built with <span class="aperture-text">Aperture</span></span><br />
                            <a href="https://github.com/DotNet-Ninja/Aperture" class="fs-6"><i class="bi bi-github pe-1"></i> Fork me on GitHub</a>
                        </p>
                    </div>
                </div>
            </div>
        </footer>
        <script src="~/lib/jquery/jquery.min.js"></script>
        <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        @await RenderSectionAsync("Scripts", required: false)
    </body>
</html>
