@{
    var isAuthenticated = User?.Identity?.IsAuthenticated ?? false;
    var userName = (isAuthenticated) ? User?.Identity?.Name ?? "Mystery" : "Anonymous";
}
<!-- Navigation -->            
            <nav class="navbar navbar-expand-sm fixed-top navbar-light bg-white mb-3">
                <div class="container">
                    <a class="navbar-brand fs-2 aperture-icon" asp-area="" asp-controller="Home" asp-action="Index">
                        <site-name/>
                    </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse">
                        <ul class="navbar-nav ms-auto mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Post" asp-action="Index">Posts</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Portfolio" asp-action="Index">Portfolio</a>
                            </li>
                            <li class="nav-item" is-authenticated="false">
                                <a class="nav-link" asp-controller="Account" asp-action="LogIn"><i class="bi bi-box-arrow-in-right"></i></a>
                            </li>
                            <li class="nav-item dropdown" is-authenticated="true">
                                <a class="nav-link dropdown-toggle" href="#" id="user-dropdown" 
                                   role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    <avatar size="32" class="user-avatar-32"/>
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="user-dropdown">
                                    <li is-in-role="@Role.Administrator">
                                        <a class="dropdown-item" asp-controller="Library" asp-action="Index">
                                            <i class="bi bi-images"></i> Library
                                        </a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" asp-controller="Account" asp-action="LogOut">
                                            <i class="bi bi-box-arrow-right"></i> Sign Out
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>